@font-face {
    font-family: 'icomoon';
    src:  url('assets/fonts/icons//icomoon.eot?dfhfwf');
    src:  url('assets/fonts/icons//icomoon.eot?dfhfwf#iefix') format('embedded-opentype'),
      url('assets/fonts/icons//icomoon.ttf?dfhfwf') format('truetype'),
      url('assets/fonts/icons//icomoon.woff?dfhfwf') format('woff'),
      url('assets/fonts/icons//icomoon.svg?dfhfwf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  